<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joseph.com.kryptokeyboard">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:label="KryptoKeyboard">
        <service
            android:name="joseph.com.kryptokeyboard.EncryptInputIME"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>


        <receiver
            android:name="joseph.com.kryptokeyboard.SmsManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="joseph.com.kryptokeyboard.SettingsActivity"
            android:label="@string/title_activity_settings" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
    </application>

</manifest>